.right {
  float: right;
  background-image: url("community.jpg");
}

.left {
  float: left;
  background-image: url("leatherwork.jpg");
}

.right:hover {
  opacity: 1;
  background-size: 110% 110%;
  transition: background-size 1s linear;
}
.left:hover {
  opacity: 1;
  background-size: 110% 110%;
  transition: background-size 1s linear;
}

.panel {
  height: 100%;
  width: 50%;
  opacity: 0.3;
  transition: opacity 0.4s ease;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  background-color: black;

  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a {
  background: rgba(0, 0, 0, 0.7);
  font-style: oblique;
  text-decoration: none;
  display: block;
  color: white;
  font-size: 2em;
  border: solid 5px white;
  border-radius: 5px;
  padding: 8px;
}

@media screen and (max-width: 600px) {
  .panel {
    height: 50%;
    width: 100%;
    opacity: 1;
  }
}
